@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);


#dropdown-menu-2btn-2 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2 .navbar-brand a {
  font-size: 30px;
}
#dropdown-menu-2btn-2 .nav .link,
#dropdown-menu-2btn-2 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-2 .navbar,
#dropdown-menu-2btn-2 .dropdown-menu {
  background: #f7da64;
}
#dropdown-menu-2btn-2 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2 .dropdown-menu a:hover,
#dropdown-menu-2btn-2 .dropdown-menu a:focus {
  background: #f6d551;
}
#dropdown-menu-2btn-2 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-2 .btn {
  font-size: 11px;
}
#dropdown-menu-2btn-2 A {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#form1-0 .mbr-header__text {
  color: #fac51c;
  text-align: left;
  font-size: 20px;
}
#msg-box4-o .mbr-header__text {
  color: #ffffff;
}
#msg-box4-o .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-o .mbr-article {
  color: #ffffff;
  text-align: left;
}
#slider-q SPAN {
  font-size: 19px;
}


#dropdown-menu-2btn-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-g .navbar-brand a {
  font-size: 30px;
}
#dropdown-menu-2btn-g .nav .link,
#dropdown-menu-2btn-g .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-g .navbar,
#dropdown-menu-2btn-g .dropdown-menu {
  background: #f7da64;
}
#dropdown-menu-2btn-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-g .dropdown-menu a:hover,
#dropdown-menu-2btn-g .dropdown-menu a:focus {
  background: #f6d551;
}
#dropdown-menu-2btn-g .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-g .btn {
  font-size: 11px;
}
#dropdown-menu-2btn-g A {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#form1-k .mbr-header__text {
  color: #fac51c;
}


#dropdown-menu-2btn-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-g .navbar-brand a {
  font-size: 30px;
}
#dropdown-menu-2btn-g .nav .link,
#dropdown-menu-2btn-g .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-g .navbar,
#dropdown-menu-2btn-g .dropdown-menu {
  background: #f7da64;
}
#dropdown-menu-2btn-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-g .dropdown-menu a:hover,
#dropdown-menu-2btn-g .dropdown-menu a:focus {
  background: #f6d551;
}
#dropdown-menu-2btn-g .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-g .btn {
  font-size: 11px;
}
#dropdown-menu-2btn-g A {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#form1-i .mbr-header__text {
  color: #fac51c;
}
#contacts1-l P {
  text-align: left;
}


#dropdown-menu-2btn-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-g .navbar-brand a {
  font-size: 30px;
}
#dropdown-menu-2btn-g .nav .link,
#dropdown-menu-2btn-g .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-g .navbar,
#dropdown-menu-2btn-g .dropdown-menu {
  background: #f7da64;
}
#dropdown-menu-2btn-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-g .dropdown-menu a:hover,
#dropdown-menu-2btn-g .dropdown-menu a:focus {
  background: #f6d551;
}
#dropdown-menu-2btn-g .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-g .btn {
  font-size: 11px;
}
#dropdown-menu-2btn-g A {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#msg-box5-i .mbr-header__text {
  color: #ffffff;
}
#msg-box5-i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-i .mbr-article {
  color: #ffffff;
}
#slider-j SPAN {
  font-size: 19px;
}


#dropdown-menu-2btn-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-g .navbar-brand a {
  font-size: 30px;
}
#dropdown-menu-2btn-g .nav .link,
#dropdown-menu-2btn-g .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-g .navbar,
#dropdown-menu-2btn-g .dropdown-menu {
  background: #f7da64;
}
#dropdown-menu-2btn-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-g .dropdown-menu a:hover,
#dropdown-menu-2btn-g .dropdown-menu a:focus {
  background: #f6d551;
}
#dropdown-menu-2btn-g .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-g .btn {
  font-size: 11px;
}
#dropdown-menu-2btn-g A {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#msg-box4-i .mbr-header__text {
  color: #ffffff;
}
#msg-box4-i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-i .mbr-article {
  color: #ffffff;
  text-align: left;
}


#dropdown-menu-2btn-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-c .navbar-brand a {
  font-size: 30px;
}
#dropdown-menu-2btn-c .nav .link,
#dropdown-menu-2btn-c .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-c .navbar,
#dropdown-menu-2btn-c .dropdown-menu {
  background: #f7da64;
}
#dropdown-menu-2btn-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-c .dropdown-menu a:hover,
#dropdown-menu-2btn-c .dropdown-menu a:focus {
  background: #f6d551;
}
#dropdown-menu-2btn-c .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-c .btn {
  font-size: 11px;
}
#dropdown-menu-2btn-c A {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#form1-d .mbr-header__text {
  color: #ffffff;
  text-align: left;
  font-size: 20px;
}


#dropdown-menu-2btn-7 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-7 .navbar-brand a {
  font-size: 30px;
}
#dropdown-menu-2btn-7 .nav .link,
#dropdown-menu-2btn-7 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-7 .navbar,
#dropdown-menu-2btn-7 .dropdown-menu {
  background: #f7da64;
}
#dropdown-menu-2btn-7 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-7 .dropdown-menu a:hover,
#dropdown-menu-2btn-7 .dropdown-menu a:focus {
  background: #f6d551;
}
#dropdown-menu-2btn-7 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-7 .btn {
  font-size: 11px;
}
#dropdown-menu-2btn-7 A {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#slider-9 H1 {
  font-size: 36px;
}
#slider-9 P {
  text-align: center;
  font-size: 15px;
}
#slider-9 SPAN {
  font-size: 20px;
}
#testimonials1-b .mbr-reviews__text P {
  text-align: left;
}




#dropdown-menu-2btn-3 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3 .navbar-brand a {
  font-size: 30px;
}
#dropdown-menu-2btn-3 .nav .link,
#dropdown-menu-2btn-3 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-3 .navbar,
#dropdown-menu-2btn-3 .dropdown-menu {
  background: #f7da64;
}
#dropdown-menu-2btn-3 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3 .dropdown-menu a:hover,
#dropdown-menu-2btn-3 .dropdown-menu a:focus {
  background: #f6d551;
}
#dropdown-menu-2btn-3 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-3 .btn {
  font-size: 11px;
}
#dropdown-menu-2btn-3 A {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#slider-5 P {
  font-size: 13px;
}
#slider-5 SPAN {
  font-size: 30px;
}
#testimonials1-6 .mbr-reviews__text DIV {
  text-align: center;
}
#testimonials1-6 .mbr-section__header DIV {
  text-align: center;
  font-size: 16px;
  font-family: 'Indie Flower', cursive;
}
#testimonials1-6 .mbr-section__header {
  text-align: center;
  color: #28324e;
}
#testimonials1-6 .mbr-section__header SPAN {
  font-size: 18px;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #ffffff;
}
#testimonials1-6 .mbr-reviews__text {
  text-align: center;
}
